{% extends 'base.html' %}

{% block content %}

{% if page == 'login' %}
<div style="direction: rtl;" class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div   class="content-wrapper">
      <!-- Content Header (Page header) -->
  
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header border-0">
                  <div class="d-flex justify-content-between">
                    <div class="card-body"> 
                     <form class="card-body" method="POST" action="">
                          {% csrf_token %}
                          <label>Username:</label>
                          <input type="text" name="username" placeholder="Enter Username"/></br>
                          <label>Password:</label>
                          <div class="card-footer">
                          <input type="password" name="password" placeholder="Enter Password"/>
                          <input type="submit" value="Login"/></div>
                        </form>
                         <p>Have NOT signed up yet ?!</p>
                         <a href="{% url 'register' %}">SignUp</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div style="direction: rtl;" class="wrapper">
<div   class="content-wrapper">
    <!-- Content Header (Page header) -->

    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                    <div class="card-body"> 
                         <form class="form-control" method="POST" action="">
                          {% csrf_token %}
                            {{form.as_p}}
                         <div class="card-footer">
                         <input type="submit" value="register"/>
                         </div>
                         <p>Already have account!<a href="{% url 'login' %}">Login</a></p>
                         
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
{% endif %}
{% endblock content %}
           